<!DOCTYPE HTML>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl+ '&gtm_auth=OwoW8XUrrg19PuKAgJa7-g&gtm_preview=env-2&gtm_cookies_win=x';f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TZ37KKW');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <title>Ably API Documentation - <%= @item[:title] %></title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">

    <meta property="og:site_name" content="Ably Realtime">
    <meta name="twitter:site" content="@ablyrealtime">
    <meta property="og:type" content="website">

    <meta property="og:title" content="<%= @item[:title] %>">
    <meta name="twitter:title" content="<%= @item[:title] %>">


    <% if @item[:meta_description] %>
    <meta name="description" content="<%= @item[:meta_description] %>">
    <meta property="og:description" content="<%= @item[:meta_description] %>">
    <meta name="twitter:description" content="<%= @item[:meta_description] %>">
    <% end %>

    <% if @item[:meta_image] %>
    <meta property="og:image" content="<%= @item[:meta_image] %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="<%= @item[:meta_image] %>">
    <% end %>

    <% if @item[:meta_keywords] %><meta name="keywords" content="<%= @item[:meta_keywords] %>"><% end %>

    <link rel="stylesheet" type="text/css" href="/vendor/prettify/prettify.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css" media="screen">

    <% if %w(realtime rest rest-api root none general).include?(item[:section]) %>
      <link rel="canonical" href="<%=canonical_link%>" />
    <% end %>

    <script src="/vendor/javascripts/jquery-1-8-3-min.js" type="text/javascript"></script>
    <script src="/vendor/javascripts/jquery-cookie-1-3-1.js" type="text/javascript"></script>
    <script src="/vendor/javascripts/kjua-0.1.1.min.js" type="text/javascript"></script>
    <script src="/vendor/javascripts/base64.js" type="text/javascript"></script>

    <script src="/vendor/prettify/prettify-lib.js" type="text/javascript"></script>

    <script src="//cdn.ably.io/lib/ably.min-1.js" type="text/javascript" crossorigin="anonymous"></script>

    <script src="/javascripts/application.js" type="text/javascript"></script>
    <script src="/javascripts/lang-manager.js" type="text/javascript"></script>

    <!-- you don't need to keep this, but it's cool for stats! -->
    <meta name="generator" content="nanoc <%= Nanoc::VERSION %>">
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TZ37KKW&gtm_auth=OwoW8XUrrg19PuKAgJa7-g&gtm_preview=env-2&gtm_cookies_win=x"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="canonical-modal">
      <div class="box-centered">
        <p>
          Please be aware that you are viewing the preview version of our developer documentation. Unless you want to view this preview, Ably recommends you view the published developer documentation.<br><br>
          <a href="https://www.ably.com/documentation">Go to Ably's stable canonical documentation »</a>
        </p>
        <p class="continue">
          <a href="#continue">I know what I'm doing, let me see the preview version »</a>
        </p>
      </div>
    </div>
    <div class="canonical-notice">
      <img src="/images/icon-alert.png">
      <span class="canonical-notice-text">
        You are reading the preview version of our developer documentation. Ably recommends you view the <a href="https://www.ably.com/documentation">published developer documentation »</a>
      </span>
      <img src="/images/icon-alert.png">
    </div>
    <div class="fork-banner"><a href="https://github.com/ably/docs"><img src="/images/forkme.png" alt="Fork me on GitHub"></a></div>
