<div id="sidebar">
  <a href="/" title="API Documentation Home"><img src="/images/ably-logo.png" class="ably-logo" title="API Documentation Home"></a>
  <nav>
    <%= nav_items 'root' %>
    <%= nav_items 'api', :title => 'API Reference' %> 
    <%= nav_items 'realtime', :title => 'Realtime client lib' %>
    <%= nav_items 'rest', :title => 'REST client lib' %>
    <%= nav_items 'rest-api', :title => 'REST API' %>
    <%= nav_items 'control-api', :title => 'Control API' %>
    <%= nav_items 'asset-tracking', :title => 'Asset Tracking' %>
    <%= nav_items 'sse', :title => 'SSE' %>
    <%= nav_items 'mqtt', :title => 'MQTT' %>
    <%= nav_items 'general', :title => 'Products' %>
    <%= nav_items 'core-features', :title => 'Core Features' %>
    <%= nav_items 'api-streamer', :title => 'API Streamer' %>
    <%= nav_items 'client-lib-development-guide', :title => 'Library Development' %>
    <%= nav_items 'protocol-adapters', :title => 'Protocol Adapters' %>
  </nav>
  <a href="https://ably.com">Visit Ably.com</a>
</div>
