<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ably API Documentation - <%= @item[:title] %></title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- you don't need to keep this, but it's cool for stats! -->
    <meta name="generator" content="nanoc <%= Nanoc::VERSION %>">
  </head>
  <body>
    <div id="main">
      <%= yield %>
    </div>
    <div id="sidebar">
      <a href="/" title="API Documentation Home"><img src="/ably-logo.png" class="ably-logo" title="API Documentation Home"></a>
      <h2>Real-time</h2>
      <ul>
        <%= nav_items 'realtime' %>
      </ul>
      <h2>REST</h2>
      <ul>
        <%= nav_items 'rest' %>
      </ul>
      <h2>Other</h2>
      <ul>
        <%= nav_items 'other' %>
        <li><a href="https://ably.io">Visit Ably.io</a></li>
      </ul>
    </div>
  </body>
</html>
