<%= render '_head' %>
<body>
  <div id="documentation">
    <% if @item[:classes] %>
      <div class="toc">
        <% @item[:classes].each do |section, props| %>
        <ul>
          <li>
              <%=section%>
              <ul>
                <% props.each do |type| %>
                <li>
                  <% if type.kind_of?(Hash) %>
                    <% type.each do |key, values| %>
                    <%=key%>
                    <ul>
                      <% values.each do |value| %>
                      <li><a href="#<%=value.downcase%>"><%=value%></a></li>
                      <% end %>
                    </ul>
                    <% end %>
                  <% else %>
                    <a href="#<%=type.downcase%>"><%=type%></a>
                  <% end %>
                </li>
                <% end %>
              </ul>
          </li>
        </ul>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
    <hr class="back">
    <a href="#documentation">Back to top</a>
  </div>
  <%= render '_nav' %>
</body>
</html>
