<%= render '_head' %>
<body>
  <div id="documentation">
    <% if @item[:classes] %>
      <div class="toc">
        <% @item[:classes].each do |section, props| %>
        <ul>
          <li>
            <%= section %>
            <%= toc_items(props) %>
          </li>
        </ul>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
    <hr class="back">
    <a href="#documentation">Back to top</a>
  </div>
  <%= render '_nav' %>
</body>
</html>
