<%= render '_head' %>
  <div id="documentation">
    <% if @item[:classes] %>
      <div class="toc">
        <% @item[:classes].each do |section, props| %>
        <ul>
          <li>
            <%= section %>
            <%= toc_items(props) %>
          </li>
        </ul>
        <% end %>
      </div>
    <% end %>
    <header>
      <%
        parent = @items.find { |i| i[:section] == @item[:section] && i[:index] == 0 }
        if @item[:index] != 0 && parent
      %>
        <div class="breadcrumb"><a href="<%=html_escape(parent.path)%>"><%=html_escape(parent[:title])%></a><span class="separator">/</span></div>
      <% end %>
      <% if @item[:title] %>
        <h1 id="title"><%= html_escape(@item[:title]) %></h1>
      <% else %>
        <h1 id="title">Untitled</h1>
      <% end %>
    </header>
    <%= yield %>
    <hr class="back">
    <a href="#documentation">Back to top</a>
  </div>
  <%= render '_nav' %>
</body>
</html>
