<%= render '_head' %>
  <div id="documentation">
    <% if @item[:jump_to] %>
      <nav class="jump-to-nav">
        <div class="form">
          <select id="jump-to-nav">
            <option>Jump to ...</option>
            <%= jump_to(@item[:jump_to]) %>
          </select>
        </div>
      </nav>
    <% end %>
    <header>
      <%= language_spec %>

      <% if page_is_versioned?
        current_version = version_from_relative_url(@item.path, current_default: true) %>
        <div id="version-container">
          <div class="dropdown">
            <input id="toggle2" type="checkbox">
            <label for="toggle2" class="animate">Version <%=current_version%><i class="fa fa-list float-right"></i></label>
            <ul class="animate">
              <% page_versions_with_paths.each do |version|
                if version[0] != current_version %>
                  <li class="animate"><a href="<%=version[1]%>">Version <%=version[0]%></a></li>
              <% end
              end %>
            </ul>
           </div>
        </div>
        <%= lang_version_spec %>
      <% end %>

      <%
        parent = @items.find { |i| i[:section] == @item[:section] && i[:index] == 0 }
        if @item[:index] != 0 && parent
      %>
        <div class="breadcrumb"><a href="<%=html_escape(parent.path)%>"><%=html_escape(parent[:title])%></a><span class="separator">/</span></div>
      <% end %>
      <% if @item[:title] %>
        <h1 id="title"><%= html_escape(@item[:title]) %></h1>
      <% else %>
        <h1 id="title">Untitled</h1>
      <% end %>
    </header>
    <article>
      <%= yield %>
    </article>
    <hr class="back">
    <a href="#documentation">Back to top</a>
  </div>
  <%= render '_nav' %>
</body>
</html>
