<%= render '_head' %>
  <div id="documentation">
    <header>
      <%
        parent = @items.find { |i| i[:section] == @item[:section] && i[:index] == 0 }
        if @item[:index] != 0 && parent
      %>
        <div class="breadcrumb"><a href="<%=html_escape(parent.path)%>"><%=html_escape(parent[:title])%></a><span class="separator">/</span></div>
      <% end %>
      <% if @item[:title] %>
        <h1 id="title"><%= html_escape(@item[:title]) %></h1>
      <% else %>
        <h1 id="title">Untitled</h1>
      <% end %>
    </header>
    <% if @item[:jump_to] %>
      <nav class="jump-to-nav">
        <div class="form">
          <select id="jump-to-nav">
            <option>Jump to ...</option>
            <%= jump_to(@item[:jump_to]) %>
          </select>
        </div>
      </nav>
    <% end %>
    <article>
      <%= yield %>
    </article>
    <hr class="back">
    <a href="#documentation">Back to top</a>
  </div>
  <%= render '_nav' %>
</body>
</html>
